.balloon {
    background-image: url("https://thumbs.dreamstime.com/b/pastel-balloons-background-vector-illustration-70870620.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 60%;
}

.full-opacity {
    opacity: 100%;
}

.full-height {
    height: 100vh;
}