html, body {
    height: 100%;
}

a.white-link {
    color: blue;
    font-style: italic;
    text-decoration: #2b542c;
    opacity: inherit;
}

.loader-center {
    position: relative;
    left: 40%;
    top: 35%;
}

.loader-back {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.bi-heading4 {
    background: #000000;
    color: #FFFFFF;
    border-radius: 0.3rem !important;
    font-size: 20px;
}

.clickable {
    cursor: pointer;
}

.vlr {
    border-right: 4px solid black;
    height: 100%;
}

.vll {
    border-left: 4px solid black;
    height: 100%;
}

.width-100 {
    width: 330px;
}

.ql-container {
    font-size: 16px;
}

.headroom {
    top: 0;
    left: 0;
    right: 0;
}

.full-opacity {
    opacity: 100%;
}

.full-height {
    height: 100vh;
}

.full-screen {
    height: 100vh;
    width: 100vw;
}

.full-width {
    height: 100vw;
}

.user {
    color: mediumseagreen;
    font-weight: bolder;
}