html, body {
    height: 100%;
}

a.white-link{
    color: blue;
    font-style: italic;
    text-decoration: #2b542c;
    opacity: inherit;
}

.bi-heading4 {
    background: #000000;
    color: #FFFFFF;
    border-radius: 0.3rem !important;
    font-size: 20px;
}

.clickable {
    cursor: pointer;
}

.vlr {
    border-right: 4px solid black;
    height: 100%;
}

.vll {
    border-left: 4px solid black;
    height: 100%;
}

.width-100 {
    width: 330px;
}

.headroom {
  top: 0;
  left: 0;
  right: 0;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}